<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/style/styles_1.css" rel="stylesheet">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
    <link rel="stylesheet" href="/vendor/border-box.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/layout.css">

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>abs Food Pick-up Ordering</h1>
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/menus">Menu</a></li>
                <li class="nav-item"><a href="/restaurants">Restaurant</a></li>
                <li class="nav-item"><a href="/orders">Cart</a></li>
                <li class="nav-item"><a href="/about">About</a></li>
            </ul>
        </nav>

        <div class="title1">
            <h2>Favourites Near You</h2>
        </div>
        <div class="image1"><img src="images/fresh-roll.jpg" width="250" height="178" alt="Fresh roll dish">

        </div>
        <div class="description1">
            <p><strong>Indian cuisine</strong>, is incredibly diverse, known for its rich and aromatic flavors,
                extensive use of spices, and a wide range of vegetarian and non-vegetarian dishes. </p>
            <div><a href="menu.html">Start Your Order</a></div>

        </div>
        <div class="title2">
            <h2>Asian Cuisine</h2>
        </div>
        <div class="image2"><img src="images/clay-pot-shrimp.jpg" width="250" height="188" alt="Clay Pot Shrimp">

        </div>
        <div class="description2">
            <p>Asian cuisine encompasses a wide range of flavors, ingredients, and cooking techniques from countries
                across the Asian continent. Here are some popular dishes.</p>
            <div><a href="menu.html">Start Your Order</a></div>

        </div>

        <div class="title3">
            <h2>Mediterranean Cuisine</h2>
        </div>
        <div class="image3"><img src="images/noodle-bowl.jpg" width="250" height="188" alt="Noodle Bowl">

        </div>
        <div class="description3">
            <p>Mediterranean cuisine is known for its vibrant flavors, fresh ingredients, and healthy cooking methods.
            </p>
            <div><a href="menu.html">Start Your Order</a></div>

        </div>

        <div class="title4">
            <h2>Quick and Easy Food Pickup!</h2>
        </div>
        <div class="image4">
            <img src="images/clay-pot-chicken.jpg" width="250" height="188" alt="Claypot Chicken">
        </div>
        <div class="description4">
            <p><strong>Top Cities:</strong></p>
            <p>Toronto, Vancouver, Calgary, Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione unde aut
                rem debitis totam eaque laborum, maiores esse, et dicta id quia? Sunt quidem voluptatem pariatur harum
                iusto dolor quo!
            </p>
        </div>
        <div class="footer finePrint">
            <p>
                &copy; 2023
            </p>
        </div>
    </div>
    <div class="error">Apologize, your viewport must be at least 255px wide! Please Contact Saigon 75 at 306-xxx-xxxx
    </div>
</body>
</html>