<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
</head>

<body>
  <div class="container">
    <%- include("partials/_headers") %>


        <div class="title1">
            <h2>Favourites Near You</h2>
        </div>
        <div class="image1"><img src="https://github.com/SophiaOjegba/midterm/blob/master/docs/fresh-roll.jpg?raw=true" width="250" height="178" alt="Fresh roll dish">

        </div>
        <div class="description1">
            <p><strong>Indian cuisine</strong>, is incredibly diverse, known for its rich and aromatic flavors,
                extensive use of spices, and a wide range of vegetarian and non-vegetarian dishes. </p>
            <div><a href="/menus">Start Your Order</a></div>

        </div>
        <div class="title2">
            <h2>Asian Cuisine</h2>
        </div>
        <div class="image2"><img src="https://github.com/SophiaOjegba/midterm/blob/master/docs/clay-pot-shrimp.jpg?raw=true" width="250" height="188" alt="Clay Pot Shrimp">

        </div>
        <div class="description2">
            <p>Asian cuisine encompasses a wide range of flavors, ingredients, and cooking techniques from countries
                across the Asian continent. Here are some popular dishes.</p>
            <div><a href="/menus">Start Your Order</a></div>

        </div>

        <div class="title3">
            <h2>Mediterranean Cuisine</h2>
        </div>
        <div class="image3"><img src="https://github.com/SophiaOjegba/midterm/blob/master/docs/noodle-bowl2.jpg?raw=true" width="250" height="188" alt="Noodle Bowl">

        </div>
        <div class="description3">
            <p>Mediterranean cuisine is known for its vibrant flavors, fresh ingredients, and healthy cooking methods.
            </p>
            <div><a href="/menus">Start Your Order</a></div>

        </div>

        <div class="title4">
            <h2>Quick and Easy Food Pickup!</h2>
        </div>
        <div class="image4">
            <img src="https://github.com/SophiaOjegba/midterm/blob/master/docs/clay-pot-chicken.jpg?raw=true" width="250" height="188" alt="Claypot Chicken">
        </div>
        <div class="description4">
            <p><strong>Top Cities:</strong></p>
            <p>Toronto, Vancouver, Calgary, Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione unde aut
                rem debitis totam eaque laborum, maiores esse, et dicta id quia? Sunt quidem voluptatem pariatur harum
                iusto dolor quo!
            </p>
        </div>
        <div class="footer">

        </div>
    </div>
  </div>
  <div class="error">Apologize, your viewport must be at least 255px wide! Please Contact at 306-xxx-xxxx
  </div>
</body>
<footer  class="footer">
  &copy; 2023 Food Ordering App
</footer>

</html>
