<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <title>Menus</title>
</head>
<body>
  <h1>Menus</h1>
  <ul>
    <% for(const menu of menus) { %>
      <li>
        <dl>
          <!-- <dt>ID</dt><dd><%= menu.id %></dd> -->
          <dt>Name</dt><dd><%= menu.name %></dd>
          <dt>Description</dt><dd><%= menu.description %></dd>
          <dt>Price</dt><dd><%= menu.price %></dd>
        </dl>

        <td>
          <form method="POST" action="/order">
            <button type="submit" class="btn btn-success">Order Now!</button>
          </form>
        </td>
      </li>
    <% }   %>

  </ul> 
  
</body>
</html>