<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <title>Menus</title>
</head>
<body>
  <h1>Menus</h1>
  <style>
    .tblFormat {
      font-family: monospace;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      width: 60%;
    }
  </style>

  <% for(const menu of menus) { %>
    <div class="tblFormat">
      <div>ID: <%= menu.id %>
      </div>
      <div>Name: <%= menu.name %>
      </div>
      <div>Description: <%= menu.description %>
      </div>
      <div>Price: <%= menu.price %>
      </div>

      <form method="POST" action="/cart">
        <button type="submit" class="btn btn-success">Order Now!</button>
      </form>
    </div>
    <% } %>


</body>

</html>